# OmniMail Dispatcher Configuration Template
DEFAULT_DISPATCHER=gmail
SENDER_EMAIL=your.email@gmail.com
SENDER_NAME=Prof. / Dr. Your Name
SENDER_KEY=your_16_character_app_password
CUSTOM_SMTP_SERVER=
CUSTOM_SMTP_PORT=587
CUSTOM_USE_TLS=true
